.auth-form{
  width: 20rem;
  max-width: 80%;
  margin: 5rem auto;
}

.form-control label,
.form-control input{
  width: 100%;
  display: block;
}
.form-control label{
  margin-bottom: 0.5rem;
}

.form-control {
  margin-bottom: 1rem;
}

.form-actions button{
  background: rgb(0, 183, 255);
  font: inherit;
  border: 1px solid blue;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  color: white;
  cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active{
  background: rgb(0, 4, 255);
}